body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 50px 20px;
}

section {
  padding: 40px 20px;
}

footer {
  background-color: #333;
  color: Black;
  padding: 20px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

